::selection {
    background: rgb(253 224 71 / var(--tw-bg-opacity));
    color: rgb(24 24 27 / var(--tw-text-opacity));
}

.hover-effect {
        transition: transform 1s ease-in-out;
}

.hover-effect:hover {
   transform: rotate(1080deg) scale(1.5);
   text-decoration: underline;
}

.navButton {
    transition: all 0.5s ease-in-out;
}

.navButton:hover {
   transform: scale(1.05);
   text-decoration: underline;
}


.Credit:hover .footerData {
    border-radius: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(51 65 85 / var(--tw-bg-opacity));
    padding-left: 5px;
    padding-right: 5px;
    font-size: 120%;
}

.Credit:hover {
    transform: scale(1.1);
}

.Credit {
    transition: all 0.4s ease-in-out;
}

.footerData {
    transition: all 0.2s ease-in-out;
    border-radius: 0.5rem;
}

.debug-border * {
    border: 0.1px solid red;
}
