body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #fae5df;
    color: #39395f;
}

header {
    margin: 10px 10px 10px;
    padding: 10px;
    background-color: #f5eec2;
    border-radius: 20px;
}

footer {
    margin:50px 100px 50px;
    padding: 10px;
    background-color: #416a59;
    border-radius: 20px;
    color: #fff;
}

.MainNav{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 5%;
}

.MainNav li{
    transition: 2s;
    padding: 8px;
    background-color: #73a24e;
    border-radius: 10px;
}

.MainNav a{
    text-decoration: none;
    color: #fff;
}

.MainNav li:hover {
    transition: 1s ease;
    background-color: #416a59;
    transform: scale(1.1);
}

::selection {
    background-color: #73a24e;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
}

h1 {
    margin-left: 50px;
}

.MainPicture {
    display: flex;
    padding: 20px;
    background-color: #73a24e;
    border-radius: 20px;
    width: 250px;
    position: absolute;
    height: 250px;
    margin-left: 70%;
    top : 5%;
}

main section {
    margin-left: 6%;
    margin-right: 6%;
}

main {
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 12%;
    background-color: #f5eec2;
}

.Name {
    font-size: 40px;
    margin-left: 6%;
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: 1s;
}

footer a:hover {
    transition: 2s;
    color: #73a24e;
    text-decoration: underline;
}

.SocialLinks {
    margin-top: -10px;
}

.Icon {
    transition: transform 5s, background-color 1.3s;
    background-color: #73a24e;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon:hover {
    transition: 2s;
    transform: rotate(3turn) scale(1.1);
    background-color: #416a59;
}

.Icons {
    display: flex;
    margin-top: 40px;
    gap: 5%;
}

#projects {
    margin-top: 10%;
}

h2 {
    transition: 0.5s;
    text-decoration: underline;
}

section {
    transition: transform 2s;
}

section:hover {
    transform: scale(1.1);
}

section:hover h2 {
    transition: color 1s;
    color: #73a24e;
}

.More {
    color: rgb(77, 77, 190);
}

.More:hover {
    color: #73a24e;
}

.popup {
    display: none; 
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 15px;
    border-radius: 10px;
    position: absolute;
    top: 50px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; 
}
