::selection {
    background: rgb(253 224 71 / var(--tw-bg-opacity));
    color: rgb(24 24 27 / var(--tw-text-opacity));
}

.hover-effect {
        transition: transform 0.8s ease-in-out;
}

.hover-effect:hover {
   transform: rotate(1080deg) scale(1.2);
   text-decoration: underline;
}
